.wrapper {
  position: relative;
  display: inline-flex;
}

.health-bar-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  padding: 20px;
}

.player-health {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #333;
}

.enemy-health {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #333;
}

.timer {
  background-color: red;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.health-gauge {
  background-color: yellow;
  height: 30px;
  width: 100%;
}

.tied-game {
  position: absolute;
  color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
