.wrapper {
  position: relative;
  display: inline-flex;
}

.health-bar-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  padding: 20px;
}

.player-health {
  width: 100%;
  display: flex;
}

.enemy-health {
  width: 100%;
  display: flex;
  justify-content: end;
}

.timer {
  background-color: red;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
}

.health-gauge {
  background-color: yellow;
  height: 30px;
  width: 100%;
}
